.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    border: 1px solid #ccc;
    background-color: #dde3eee1;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.post img {
    max-width: 100%;
    height: auto;
    display: block;
}

.custom-box {
    background-color: #e0e5f0e1; /* Light red background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }