.bg-light-blue {
    background: linear-gradient(135deg, #9bd4eb, #d2f3ff);
    width: 100%;
    min-height: 100vh; /* Ensure it covers the full height of the viewport */
    padding: 20px; /* Optional padding for spacing */
  }

  .bg-wh {
    background-color: rgba(255, 255, 255, 0.514);
  }

  .post-link {
    color: #1c2327; /* Change to your desired color */
    text-decoration: none; /* Remove underline */
  }
  
  .post-link:hover {
    color: #2a85c2; /* Darker shade on hover */
    
  }

  .login-card {
    background: white;
    border-radius: 15px;
    width: 100%;
    max-width: 400px; /* Limits size for larger screens */
    padding: 25px;
    text-align: center;
  }
  
  .form-control {
    background-color: #f0f8ff; /* Light blue input field */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .form-control:focus {
    border-color: #4fa3e3;
    box-shadow: 0 0 5px rgba(79, 163, 227, 0.5);
  }
