.upload-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.329);
    width: 80%;
    max-width: 600px;
    position: relative;
    
  }
  
  .upload-form input[type="file"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: rgba(107, 173, 218, 0.37);
  }
  
  .upload-form textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    resize: vertical;
    width: 312px;
    min-height: 50px;
    background-color: rgba(182, 196, 206, 0.61);
  }
  
  .upload-form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Absolute positioning */
    bottom: 10px; /* Distance from the bottom */
    right: 10px; /* Distance from the right */
  }
  
  .upload-form button:hover {
    background-color: #0056b3;
  }
  
  .upload-form button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
  }